# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# MySQL Exporter
MYSQLD_EXPORTER_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
#If havent access to docker \ other service
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
WINDOWS_IP=
LOCAL_IP=
#VK
LOCAL_USER=
GROUP_ID=
VKTOKEN=